---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'

import '../styles/main.scss'

import { prismicClient } from '../clients/prismic'

const seoPage = await prismicClient.getSingle('seo')
const { data: seo } = seoPage
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />

		<!-- Favicon -->
		<meta name='theme-color' content='#ffffff' />
		<link rel='icon' href='favicon.svg' />
		<link rel='mask-icon' href='mask-icon.svg' color='#2d2f3e' />
		<link rel='apple-touch-icon' href='apple-touch-icon.png' />
		<link rel='manifest' href='manifest.json' />

		<!-- Fonts -->
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap'
			rel='stylesheet'
		/>

		<!-- SEO -->
		<title>{seo.title[0].text}</title>
		<meta name='description' content={seo.description[0].text} />
		<meta property='og:title' content={seo.title[0].text} />
		<meta property='og:description' content={seo.description[0].text} />
		<meta property='og:image' content={seo.image.url} />
		<meta property='og:url' content={Astro.site} />
		<meta property='og:type' content='website' />
		<meta property='og:site_name' content={seo.title[0].text} />
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:title' content={seo.title[0].text} />
		<meta name='twitter:description' content={seo.description[0].text} />
		<meta name='twitter:image' content={seo.image.url} />

		<!-- Sitemap -->
		<link rel='sitemap' href='/sitemap-index.xml' />
	</head>
	<body class='min-h-[100dvh] flex flex-col justify-between'>
		<Nav />
		<main class='flex-1 px-4 sm:px-0'>
			<slot />
		</main>
		<Footer />

		<!-- Simple Analytics -->
		{
			import.meta.env.MODE !== 'development' ? (
				<>
					<script is:inline async defer src='https://scripts.simpleanalyticscdn.com/latest.js' />
					<noscript>
						<img
							src='https://queue.simpleanalyticscdn.com/noscript.gif'
							alt=''
							referrerpolicy='no-referrer-when-downgrade'
						/>
					</noscript>
				</>
			) : null
		}
	</body>
</html>
